@use "../index" as hms;

$theme-sizes-body: (0, 3);
$theme-sizes-h1: (3, 0);

body {
  @include hms.sizes($theme-sizes-body);
}

h1 {
  @include hms.sizes($theme-sizes-h1);
  margin-top: hms.get-line-height($theme-sizes-body, 3);
  margin-bottom: hms.get-line-height(0, 3, 2);
}

p {
  margin-top: hms.get-line-height($theme-sizes-body);
  margin-bottom: hms.get-line-height($theme-sizes-body);
}
